/*for small screens*/
@media screen and (max-width: 639px) {

    .column {
        width: 100%;

    }

    .row {
        display: flex;
        flex-wrap: wrap;

    }

    .socials {
        display: flex;
    }
}


/*for medium screens*/
@media screen and (min-width:640px) and (max-width: 1279px) {}

/*for large screens*/
@media screen and (min-width: 1280px) {

    /* .column-sm { display: contents;
} */
    ul.socials {
        list-style-type: none;
        float: right;
        padding-right: 40px;
    }

}





/*index.html*/
.bg-black {
    background-color: #000000;
}

html {
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    ;
}

body {
    background-color: #000000;
    font-size: 2em;
}

/*logo*/

/*tabs*/
/* Style the list */


ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid darkred;
    background-color: black;

}

/* Float the list items side by side */
ul.tab li {
    float: left;
}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    background-color: black;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: maroon;
}

/* Create an active/current tablink class */
ul.tab li a:focus,
.active {
    background-color: black;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}


/*media links*/

ul.socials li {
    list-style-type: none;
    text-decoration: none;
    vertical-align: top;
    flex-direction: column;
    padding: 12px;
    margin: 20px;
    /* float: right; */


}

.bi {
    list-style: none;
    text-decoration: none;
    display: flex;
    position: absolute;
    float: right;
    padding: 20px;
    font-size: 30px;
    vertical-align: top;
    flex-direction: column;
    text-align: center;
    border-radius: 50%;

}

.row-2 {
    display: contents;
}

.bi-discord {
    color: aquamarine;

}

.bi-github {

    color: fuchsia;
}

.bi-linkedin {

    color: royalblue;

}





a:hover,
a:active {
    background-color: darkred;
    color: white;
}






/*style heading 1*/
h1 {
    text-align: center;
    color: bisque;
}

/*style description*/

.row #row-description {

    display: flex;
    color: bisque;
    /* display: flex;
    position: absolute;
    top: 70%;
    left: 5%;
    right: 50%;
    margin-block-start: 0em;
    margin-block-end: 2em;
    margin-inline-start: 10px;
    margin-inline-end: 50px;
    color: bisque;
    font-size: 1.5em; */
}

#column-description {
    padding-top: 100px;

}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

/*profile img*/
.profile-img {
    border-radius: 10%;
    display: flex;
    /* margin-left: auto;
    margin-right: auto; */
    /* width: 20%; */
    width: 250px;
    height: 350px;
    align-items: center;

}

#profile-img {
    padding-left: 250px;
}

/*Quote*/
.quote {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    font-weight: 80;
    color: rgb(192, 212, 212);
    text-shadow: 1px 1px 2px black;
    font-size: 1em;
    text-align: center;
    margin-top: 2em;
    padding-top: 20px;

}

#personal {
    padding-top: 50px;
}

/*Footer*/







/*about.html*/

/*logo*/

/*tabs*/

/*media links*/

/*Personality Characteristics*/
#personality-heading.row {
    display: flex;
    height: fit-content;
    width: 56;
    justify-content: center;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;


}

#traits.row {
    display: flex;
    justify-content: space-between;
    

}

#listed.column {
    
    font-size: large;
    text-align: left;
    padding: 20px;
    margin: auto;
    color: bisque;

}
h6 {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5em;
    color: steelblue;
    text-align: left;
}

#listed-2.column {
    
    font-size: large;
    text-align: left;
    padding: 20px;
    margin: auto;
    color: bisque;
    padding-left: 110px;
}

.listed {
    list-style-position: inside;

}
.listed-2 {
    list-style-position: inside;
}


h5 {
    text-align: center;
    font-size: x-large;

}



#Personality {
    display: flex;
    justify-content: row space-between;
    padding: 10px;
    margin: 10px;

}






.traits {
    display: flex;
    justify-content: space-between;
    color: bisque;
    text-align: center;
    object-position: inherit;



}
#nature-img {
    width: 900px;
	height: 500px;
	border-radius: 50%;
    display:inline-block;
   align-self:center;
   text-align:center;
   position: relative;

}
/* Hobbies */
.hobbies {
    color: bisque;
    text-align: center;
    font-size: large;
    position: absolute;


}
  .warm{
    filter: sepia(50%) contrast(150%) saturate(200%) brightness(100%) hue-rotate(-15deg);
  }
.image-slider {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    position: relative;
}

p {
    position: absolute;
    justify-content: center;
    color: deepskyblue;
    text-shadow: 1px 1px black;
   top: 35%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: flex;
   font-size: x-large;
   font-weight: 400;
}

/*Acts of service*/
.service {
    float: left;
    border: 1px solid darkred;
    color: bisque;
    text-align: center;
    box-sizing: content-box;
    font-size: larger;

}

img  {
    width: 200px;
	height: 200px;
	border-radius: 50%;
} 

#community img {
    float: left;
    position: relative;
    padding: 10px;
    margin: auto;
    display: block;
}

/*background*/
#background {
    float: left;
    color: bisque;
    text-align: center;
    box-sizing: content-box;
    font-size: larger;

}

/*About page Footer*/




/*portfolio.html*/

/*icon*/

/*tabs*/

/*Media links*/

/*Projects*/

/*Zoo Website*/
#zoo-project {

    float: left;
    border: 1px solid darkred;
    color: bisque;
    text-align: center;
    box-sizing: content-box;

}

/*Vault*/
.safe {
    float: left;
    border: 1px solid darkred;
    color: bisque;
    text-align: center;
    box-sizing: content-box;
    font-size: larger;
}

/*images*/

/*Footer*/

h4 {
    font-size: x-large;
}



h2 {
    float: left;
    border: 1px solid darkred;
    color: bisque;
    text-align: center;
    box-sizing: content-box;
    font-size: larger;


}

/* section {
    color: bisque;
} */
















h5 {
    color: bisque;
}