/*for small screens*/
@media screen and (max-width: 639px) {
    .column {
        width: 100%;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .socials {
        display: flex;
    }
}

/*for medium screens*/
@media screen and (min-width:640px) and (max-width: 1279px) {}

/*for large screens*/
@media screen and (min-width: 1280px) {

    /* .column-sm { display: contents;} */
    ul.socials {
        list-style-type: none;
        float: right;
        padding-right: 40px;
    }
}

/*index.html*/
.bg-black {
    background-color: #000000;
}

html {
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: #000000;
    font-size: 2em;
}

/*tabs*/
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid darkred;
    background-color: black;
}

/* Float the list items side by side */
ul.tab li {
    float: left;
}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    background-color: black;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: maroon;
}

/* Create an active/current tablink class */
ul.tab li a:focus,
.active {
    background-color: black;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/*media links*/
ul.socials li {
    list-style-type: none;
    text-decoration: none;
    vertical-align: top;
    flex-direction: column;
    padding: 12px;
    margin: 20px;
}

.bi {
    list-style: none;
    text-decoration: none;
    display: flex;
    position: absolute;
    float: right;
    padding: 20px;
    font-size: 30px;
    vertical-align: top;
    flex-direction: column;
    text-align: center;
    border-radius: 50%;
}

.row-2 {
    display: contents;
}

.bi-discord {
    color: aquamarine;
}

.bi-github {
    color: fuchsia;
}

.bi-linkedin {
    color: royalblue;
}

a:hover,
a:active {
    background-color: darkred;
    color: white;
}

/*style heading 1*/
h1 {
    text-align: center;
    color: bisque;
}

/*style description*/
.row #row-description {
    display: flex;
    color: bisque;
}

#column-description {
    padding-top: 100px;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

/*profile img*/
.profile-img {
    border-radius: 10%;
    display: flex;
    width: 250px;
    height: 350px;
    align-items: center;
}

#profile-img {
    padding-left: 250px;
}

/*Quote*/
.quote {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    font-weight: 80;
    color: rgb(192, 212, 212);
    text-shadow: 1px 1px 2px black;
    font-size: 1em;
    text-align: center;
    margin-top: 2em;
    padding-top: 20px;
}

#personal {
    padding-top: 50px;
}
/*Personality Characteristics*/
#personality-heading.row {
    display: flex;
    height: fit-content;
    width: 56;
    justify-content: center;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
}

#traits.row {
    display: flex;
    justify-content: space-between;
}

#listed.column {
    font-size: large;
    text-align: left;
    padding: 20px;
    margin: auto;
    color: bisque;
}

h6 {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5em;
    color: steelblue;
    text-align: left;
}

#listed-2.column {
    font-size: large;
    text-align: left;
    padding: 20px;
    margin: auto;
    color: bisque;
    padding-left: 110px;
}

.listed {
    list-style-position: inside;
}

.listed-2 {
    list-style-position: inside;
}

h5 {
    text-align: center;
    font-size: x-large;
}

#Personality {
    display: flex;
    justify-content: row space-between;
    padding: 10px;
    margin: 10px;
}

.traits {
    display: flex;
    justify-content: space-between;
    color: bisque;
    text-align: center;
    object-position: inherit;
}

#nature-img {
    width: 900px;
    height: 500px;
    border-radius: 50%;
    display: inline-block;
    align-self: center;
    text-align: center;
    position: relative;
}

/* Hobbies */
.hobbies {
    color: bisque;
    text-align: center;
    font-size: large;
    position: absolute;
}

.warm {
    filter: sepia(50%) contrast(150%) saturate(200%) brightness(100%) hue-rotate(-15deg);
}

.image-slider {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    position: relative;
}

p {
    position: absolute;
    justify-content: center;
    color: deepskyblue;
    text-shadow: 1px 1px black;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    font-size: x-large;
    font-weight: 400;
}

/*Acts of service*/
#service {
    color: goldenrod;
}

/*background*/
#background {
    float: left;
    color: bisque;
    text-align: center;
    box-sizing: content-box;
    font-size: large;
    display: flex;
}

#goodies-img {
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    display: flex;
    vertical-align: middle;
    align-content: center;
}

.goodies-img {
    --b: 5px;
    /* the border thickness */
    --d: 20px;
    /* the distance from the edge */
    --o: 15px;
    /* the offset on hover */
    --s: 1;
    /* the direction of the hover effect (+1 or -1)*/

    --_d: calc(var(--d) + var(--s)*1em);
    --_g: calc(100% - 2*(var(--_d) + var(--b)));
    --_m:
        conic-gradient(from 90deg at var(--_d) var(--_d), #0000 25%, #000 0) 0 0/calc(100% - var(--_d)) calc(100% - var(--_d)),
        linear-gradient(#000 0 0) 50%/var(--_g) var(--_g) no-repeat;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    font-size: 0;
    cursor: pointer;
    transition: .35s;
}

img:hover {
    font-size: var(--o);
}

body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-content: center;
    grid-auto-flow: column;
    grid-gap: 25px;
    background: black;
}

.color img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transition: all 1s ease;
    transition: all 1s ease-in;
}

#color img:hover {
    filter: grayscale(0%);
    filter: gray;
    -webkit-filter: grayscale(0%);
    filter: none;
    transition: 1s ease;
}

#community {
    display: flex;
    top: 80px;
    position: relative;
}

#service {
    font-size: large;
    color: bisque;
}

#background-details {
    top: 80px;
    position: relative;
    bottom: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

/*portfolio.html*/
/*Zoo Website*/
.animate__animated.animate__lightSpeedInRight {
    --animate-duration: 8s;
    --animate-delay: 4s;
    color: aquamarine;
}

#zoo-project {

    float: left;
    color: bisque;
    text-align: center;
    box-sizing: content-box;
    border: 1px solid sandybrown;
    border-left-style: none;
    border-right-style: none;
}

#zoo {
    color: sandybrown
}

/*Vault*/
#vault-heading {
    float: left;
    color: bisque;
    text-align: center;
    box-sizing: content-box;
    border: 1px solid sandybrown;
    border-left-style: none;
    border-right-style: none;
}

#vault {
    color: sandybrown;
}

/*images*/
#img-zoo {
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    display: flex;
    vertical-align: middle;
    align-content: center;
}
#safe-img {
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    display: flex;
    vertical-align: middle;
    align-content: center;
    margin-top: 60px;
}
h2 {
    float: left;
    border: 1px solid darkred;
    color: bisque;
    text-align: center;
    box-sizing: content-box;
    font-size: larger;
}

h5 {
    color: bisque;
}

/*contact form styles*/

body {
    background: rgb(0, 0, 0);
   }


form {
    margin: 50px auto;
    background-color: rgb(14, 14, 17);
    padding: 50px;
    width: fit-content;
    position: relative;
    top: 80px;
    border: 2px solid goldenrod;    
    }

 label {
    color: cadetblue;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 5px solid saddlebrown;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: -webkit-fill-available;
    box-sizing: border-box;
    outline: 0;
}

.input:focus {
    border: 5px solid saddlebrown;
}

input[type=text], select, textarea {
    height: auto;
    line-height: normal;
    resize: vertical;
    width: -webkit-fill-available;
}

#subject {
    width: -webkit-fill-available;
    height: 150px;
}
input[type=email] {
width: -webkit-fill-available;
}

input[type=submit] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: rgb(17, 5, 79);
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
    }
input[type=submit] {
    background: hsl(60, 100%, 59%);
    background-color: saddlebrown;
}
